{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
<link href="{% static 'css/todo_today.css' %}" rel="stylesheet">
<link href="{% static 'css/today.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-select.css' %}" rel="stylesheet">    
{% endblock extra_css %}

{% block sidebar %}
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href=""><i class="fa fa-fw fa-dashboard active"></i> Today</a>
        </li>
        <li>
            <a href=""><i class="fa fa-fw fa-bar-chart-o"></i> Overview</a>
        </li>
        <li>
            <a href=""><i class="fa fa-fw fa-table"></i> Activities</a>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                <li>
                    <a href="#">Dropdown Item</a>
                </li>
                <li>
                    <a href="#">Dropdown Item</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
{% endblock sidebar %}

{% block content %}
<div class="row">
    <div class = "col-md-6 controls">
        <h1>
            {{today|date:"D d"}}
            <small>- 330 min</small>
        </h1>
        <hr>
        <div class = "row">
            <div class="btn-group btn-group" role="group">
                {% for activity in activities %}
                <button type="button" class="btn btn-info act_btn" data-id="{{activity.id}}">{{activity.title}}</button>
                {% endfor %}
            </div>
            
        </div>
        <div class ="row">
            <div id = "act_panel" class="thumbnail thumb_act">
                {% if last_record.is_running %}
                <div class = "caption">
                    <button id="act_stop" class ="btn btn-danger pull-right"> Stop </button>
                    <h3 id="actually_running" data-id = "{{activity.id}}"> Linux </h3>
                    <h4> <small> Since 10:30am </small> </h4>
                </div>
                <img class = "image_act" src="http://static.betazeta.com/www.fayerwayer.com/up/2013/09/tux-linux.png"></img>
                {% else %}
                    <img src="http://images.acgon.com/Uploadfile/Products/mp0010/mp0010.jpg">
                {% endif %}
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-6">
                <div class = "input-group form_controls_add">
                    <span class = "input-group-addon">+/-</span>
                    <input id = "formAdd_minutes" type="text" class="form-control" placeholder="minutes">
                </div>
            </div>
            <div class = "col-md-12">
                <div id ="formAdd_operation" class = "btn-group form_controls_add" role="group">
                    <button type="button" class ="btn btn-default">+</button>
                    <button type="button" class ="btn btn-default">-</button>
                </div>
            </div>
            <div class = "col-md-12">
                <select id ="formAdd_act" class ="selectpicker form_controls_add">
                    <option>Ol Contenido</option>
                    <option>Freelance Web</option>
                </select>
            </div>
            <div class = "col-md-12">
              <button id ="formAdd_send" class = "btn btn-warning form_controls_add">
                Send
              </button>  
            </div>
        </div>
        <div class = "row">
        <hr>
            <ul class ="list-group">
                {% for record in today_records %}
                <li class="list-group-item list-group-item-info"> {{record.activity.title}} from {{record.time_start|date:"P"}} to {{record.time_end|date:"P"}}
                    <span class = "badge">{{record.total_time}} </span>
                </li>    
                {% endfor %}                
                <li class="list-group-item list-group-item-success">+ 40 min - Linux-Sistemas
                <span class = "badge">40</span></li>
                <li class="list-group-item list-group-item-danger">- 30 min - Github<span class = "badge">30</span></li>
            </ul>
        </div>
    </div> <!-- controls div col md -6 -->
    <div class = "col-md-6">
    <div class = "col-md-6 col-md-offset-3">
    <img class = "today_trophy" src="http://images.acgon.com/Uploadfile/Products/mp0010/mp0010.jpg"></img>
    <hr>
    </div>
    <div class = "col-md-8 col-md-offset-2">
        <div class = "row new_act_today">
            <div class ="input-group">
                <span class = "input-group-addon">For Today</span>
                <input type="text" class="form-control" placeholder="New Todo for Today">
            </div>
        </div>
    </div>
    <div class ="col-md-12">
      <div class="wrap">
            <div class="header">
                <span>For Today</span>
            </div>
            <div class="wrap-list">
                <ol class="list">
                    <li>
                        <input type="checkbox" id="check-1" checked="checked">
                        <label for="check-1">Shop</label>
                    </li>
                    <li>
                        <input type="checkbox" id="check-2">
                        <label for="check-2">Practice</label>
                    </li>
                    <li>
                        <input type="checkbox" id="check-3">
                        <label for="check-3">Sleep</label>
                    </li>
                    <li>
                        <input type="checkbox" id="check-4">
                        <label for="check-4">Enjoy life</label>
                    </li>
                    <li>
                        <input type="checkbox" id="check-5" checked="checked">
                        <label for="check-5">Do something</label>
                    </li>
                </ol>
            </div>
        </div>
    </div> <!--col md 12 -->
    </div> <!--col md 6 -->
</div>
<!-- /.row -->
{% endblock content %}

{% block extra_javascript %}
<script src="{% static 'js/bootstrap-select.js' %}"></script>
<script src="{% static 'js/today.js' %}"></script>
{% endblock extra_javascript %}

<script>
$(".selectpicker").selectpicker({
    style: 'btn-info',
    size: 3
});
</script>

